#loginPageContainer{
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}
#loginContainer{
    padding-top: 20px;
    width: 40rem;
    height: 60rem;
    border: 2px solid orange;
    color: orange;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.loginDivs{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a b";
}
.loginGridAreaA{
    grid-area: a;
    width: 200px;
    /*text-align: end;*/
}
.loginGridAreaB{
    grid-area: b;
    width: 200px;
}
#topFourMoviesDiv{
    display: flex;
    flex-direction: row;
}
.showTopFourRatedMovies{
    width: 150px;
}
.topFourMovieTitles{
    height: 40px;
}